body {
  overflow: hidden;
  overflow-y: auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

#note-title {
  margin: 25px;
  width: 80vw;

}

#noteContent {
  margin: 25px 30px;
  width: 80vw;
}

#add-note {
  margin: 25px;
}

.card{
  height: 25rem;
  overflow: hidden;
  background-image: url('notes.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding:76px 100px;
  border:none;
}

.card-body{
    padding-top: 1em;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
}

.card-text{
  padding:5px 4px;
}

/* delete and edit button */
.button{
  background-color: rgba(228, 228, 16, 0.366);
  color:hotpink;
  border-radius: 5px;
  border:2px solid black;
  margin:5px;
}

.update-btn{
  margin: 25px;
}

.highlight-note{
  box-shadow: 0 0 10px 3px #00ffcc;
  transition: box-shadow 0.3s ease-in-out;
}
