body {
  overflow: hidden;
  overflow-y: auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

#note-title {
  margin: 1rem 1rem;
  width: 80vw;

}

#noteContent {
  margin: 1rem 1rem;
  width: 80vw;
}

#add-note {
  margin: 1.5rem;
}

.card{
  width: 21rem;
  height:22rem;
  background-image: url(notes.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow:auto;
  padding:2.5rem 1rem;
  margin:1rem 1rem;
  /* border: none; */

}

.highlight-note{
  box-shadow: 0 0 10px 3px #00ffcc;
  transition: box-shadow 0.3s ease-in-out;
}
