body {
  overflow: hidden;
  overflow-y: auto;
  color: white;
}

.dismiss {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  color: #666;
}

#info,
.form-label {
  color: black !important;
}

.dark-mode #info,
.dark-mode .form-label {
  color: white !important;
}

.share-btn {
  border: none;
  cursor: pointer;
  background-color: #1c352d !important;
  width: 2.5rem;
  color: #a6b28b !important;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.banner-text {
  flex-grow: 1;
  font-size: 14px;
  color: #333;
}

.close-icon {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

#installBtn {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

body.dark-mode {
  background-color: #16213e;
}
.dark-mode .banner {
  background-color: #16213e;
  border-bottom: 2px solid #395b64;
}

.dark-mode .banner-text {
  color: white;
}

.dark-mode input::placeholder {
  color: #ffffff;
  opacity: 1;
}
.dark-mode textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
.dark-mode nav {
  background-color: #0f3460;
}

form,
.ai-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-container,
.ai-notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.brand {
  font-size: 1.1rem;
  font-weight: bold;
  height: 1.5rem;
  width: 2rem;
  border-radius: 5px;

  background-image: url("android-icon-192x192.png");
  background-size: contain;
}

.serial-badge {
  color: #0f3460;
}

.badge-container {
  display: flex;
  position: absolute;
  top: 1.3em;
  left: 1em;
  gap: 0.3em;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.download-note {
  display: flex;
  position: absolute;
  top: 0.5rem;
  left: 6rem;
  border: none;
  transition: background 0.3s ease;
  background-color: #0f3460;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

/* Rotation animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#info,
#lang-icon {
  display: inline-block;
  vertical-align: middle;
}

.pulsing {
  animation: pulse 0.8s ease-in-out infinite;
}

.rotating {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.note-date {
  color: #415e72;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 5px 12px;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#noteContent {
  height: 6rem;
}

.custom-modal-dialog {
  width: 100vw;
  max-width: 100vw;
  margin: auto;
}

.custom-modal-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.custom-modal-body {
  flex: 1 1 auto;
  width: 90%;
  overflow: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-image {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#aiNote-container {
  height: 10rem;
}

#add-note {
  margin: 1.5rem;
}

#generateBtn,
#aiNote-saveBtn {
  width: 95%;
}

#aiNote-lable,
#aiNote-container {
  display: none;
}

.dark-mode #add-note {
  background-color: #533483;
  border: 1px solid #16213e;
}

.dark-mode #generateBtn {
  background-color: #533483;
  border: 1px solid #16213e;
}

.dark-mode .btn-success {
  background-color: #395b64;
  border: 1px solid #16213e;
}

.card {
  width: 21rem;
  height: 22rem;
  background-image: url(notes.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
  padding: 2.5rem 1rem;
  margin: 1rem 1rem;
  border: none;
}

.dark-mode .card {
  border: none;
  background-color: #16213e;
}

.highlight-note {
  box-shadow: 0 0 10px 3px #00ffcc;
  transition: box-shadow 0.3s ease-in-out;
}

.swap {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("swap.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.form-switch {
  padding-left: 0em !important;
}

.lang-lightMode {
  color: #0f3460;
}

#voice-input-noteTopic {
  position: absolute;
  right: 2.5em;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 2.6em;
  font-size: small;
}

.voice-btn-color {
  color: rgb(15, 52, 96) !important;
}
